html {
  --primaryBackground: #f4f4f8;
  --secondaryBackground: #e6e6ea;
  --primaryTextColor: #282a36;
}

html[data-theme='dark'] {
  --primaryBackground: #282a36;
  --secondaryBackground: #f8f8f2;
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--primaryTextColor);
  outline: none;
}

body {
  font-size: 14px;
  background: var(--primaryBackground);
}

div {
  position: relative;
  display: flex;
  width: fit-content;
  margin: 20px auto;
  flex-direction: column;
  align-items: center;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 2 px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}

li {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background: var(--secondaryBackground);
  padding: 8px;
  border-radius: 4px;
}

.theme {
  position: absolute;
  right: 0;
  top: 0;

  transform: translate(120%, -9px);
}
